 

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

.pdf {
font-size: 50px;
text-align: center;
}

.tb {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
	font-size: 0.95rem;
	min-width: 480px;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

table .date {
	width: 23%;
}

table .time {
	width: 23%
}

table .loc {
	width: 34%
}

.tb thead th {
	background-color: #f11c1c;
	color: #fff;
	text-align: left;
	font-weight: 500;
}

.tb thead th,
.tb tbody td {
	padding: 8px 10px;
}

.tb tbody tr{
	border-bottom: 1px solid #ccc;
}

.tb tbody tr:nth-of-type(even) {
	background-color: #f3f3f3
}

.tb tbody tr:last-child {
	border-bottom: 2px solid #4abcff
}